<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>FutgolPlayer APP | Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goProfile()">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs #myTabs>
    <!-- Tab Equipos -->
    <ion-tab tab="teams">
      <ion-header>
        <ion-toolbar>
          <ion-title>Equipos</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ng-container *ngIf="userTeam">
          <h2>Tu Equipo</h2>
          <ion-card button="true" (click)="goTeam(userTeam)">
            <ion-card-header>
              <ion-card-title>{{ userTeam.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p><strong>Jugadores:</strong> {{ userTeam.players.length }}</p>
              <p><strong>Partidos Jugados:</strong> {{ userTeam.matchesPlayed }}</p>
            </ion-card-content>
          </ion-card>
        </ng-container>
        <!-- Mostrar otros equipos -->
        <h2>Todos los equipos</h2>
        <ng-container *ngFor="let team of teams">
          <ion-card *ngIf="team.id !== userTeam?.id" button="true" (click)="goTeam(team)">
            <ion-card-header>
              <ion-card-title>{{ team.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p><strong>Jugadores:</strong> {{ team.players.length }}</p>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </ion-content>
    </ion-tab>

    <!-- Tab Buscar Partidos -->
    <ion-tab tab="search-matches">
      <ion-header>
        <ion-toolbar>
          <ion-title>Buscar Partido</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card *ngFor="let match of matches" button="true" (click)="goMatch(match)">
          <ion-card-header>
            <ion-card-title>{{ getTeamNameById(match.teams.teamA) }} vs {{ getTeamNameById(match.teams.teamB) }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Fecha:</strong> {{ match.date | date:'short' }}</p>
            <p><strong>Ubicacion:</strong> {{ match.location }}</p>
            <p><strong>Estado:</strong> {{ match.status }}</p>
            <p><strong>Creado por:</strong> {{ match.createdBy }}</p>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ion-tab>

    <!-- Tab Crear Partido -->
    <ion-tab tab="create-match">
      <ion-header>
        <ion-toolbar>
          <ion-title>Crear Partido</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="form">
          <h2>Crea tu partido</h2>
          <ion-item>
            <ion-label>Equipo A</ion-label>
            <ion-select [(ngModel)]="match.teams.teamA" placeholder="Selecciona un equipo">
              <ion-select-option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Equipo B</ion-label>
            <ion-select [(ngModel)]="match.teams.teamB" placeholder="Selecciona un equipo">
              <ion-select-option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Ubicacion</ion-label>
            <ion-input placeholder="Indica una ubicacion" slot="end" [(ngModel)]="match.location"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Fecha y Hora del Partido" [value]="match.date | date: 'dd-MM-yyyy HH:mm'" readonly></ion-input>
            <ion-button fill="clear" id="open-datetime">
              <ion-icon size="large" slot="icon-only" name="calendar"></ion-icon>
            </ion-button>
            <ion-popover trigger="open-datetime" triggerAction="click">
              <ng-template>
                <ion-datetime 
                  [(ngModel)]="match.date" 
                  locale="es-ES"
                  [showDefaultButtons]="true" 
                  presentation="date-time">
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
          <ion-button expand="block" (click)="createMatch()">Crear Partido</ion-button>
        </div>
      </ion-content>
    </ion-tab>

    <!-- Tab Bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="teams">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>Equipos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="search-matches">
        <ion-icon name="search"></ion-icon>
        <ion-label>Buscar Partidos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="create-match">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Crear Partido</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
